In [3]:
from pathlib import Path
import pandas as pd
from pyecharts import options as opts
from pyecharts.charts import Bar, Calendar, Tab

df = pd.read_excel(
  io= Path.cwd() / 'volumetria.xlsx',
  engine='openpyxl',
  sheet_name='LGM',
  skiprows=0,
  usecols='B:D',
  nrows=401
)
df.head()

   Tabela        Data  No Registro
0  TI_CCC  20220903.0            0
1  TI_CCC  20220908.0            1
2  TI_CCC  20220914.0            0
3  TI_CCC  20220915.0            1
4  TI_CCC  20220916.0           16

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401 entries, 0 to 400
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tabela       400 non-null    object
 1   Data         400 non-null    float64
 2   No Registro  401 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB